<div class="main">
  <div class="headerBox">
    <div class="newPost">
      <cooltz-icons (click)="close()" [name]="'clear'" [width]="'25'" [color]="'#E9E2E1'"></cooltz-icons>
      <h1 class="title">Nova publicação</h1>
      <button class="addBtn">
        <h2 class="addBtnTxt">Publicar</h2>
      </button>
    </div>
    <div class="secontCtn">
      <img class="avatar" src="./assets/img/avatar1.jpg" alt="" width="30" height="30">
      <h2 class="profileName">Name</h2>
      <h2 class="changeTopic">Trocar o assunto</h2>
    </div>
  </div>
  <div class="editIconsContainer">
    <button *ngFor="let button of buttons" >
        <cooltz-icons (click)="setStyle(button)" [name]="button" [width]="'20'" [color]="tglBtn(button)?'#FFFBF7':'#8E8988'">
          </cooltz-icons>
    </button>
  </div>
  <div class="iptContainer">
    <div class="txtArea" contenteditable>
      <h3 class="postText">Texto</h3>
    </div>
  </div>
  <div class="postTypeContainer">
    <h3 class="tglText">POSTAGEM PÚBLICA? </h3>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
        <h2 *ngIf="pubPost" (click)="tglPrivacy()" class="txtTgl">Não</h2>
        <h2 *ngIf="!pubPost"  (click)="tglPrivacy()" class="txtTglY">Sim</h2>

    </label>
  </div>
</div>