
.main{
    position: absolute; 
    height: 100%;    
    width: 100%;
}

.headerBox{
    margin: 15px 24px 10px;
}

button{
    background-color: transparent;
    border: 0;
}

.cameraCtn{
    position: absolute;
    right: 6%;
    top: 104px;
}

@media screen and (max-width: 350px) { 
        
    .headerBox{
        margin:8px 14px 4px;
    }

    .addBtn{
        width: 70px;
    }
}


.newPost{
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

.addBtnTxt{
    margin: auto;
    color: rgba(255,251,247,1);
    font-size: 16px;

    &.added{
    	color: rgba(241,59,64,1);
    }
}

.addBtn{
    border: 0;
    margin-left: 24px;
    float: right;
    height: 30px;
    background-color: rgba(241,59,64,1);
}

.secontCtn{
    display: inline-block;
    width: 100%;
    margin: 8px 0;
}
.iptContainer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 54px;
    top: 100px;
}

.txtArea{
    height: 100%;
    width: calc(100% - 50px);
    background-color: #212020;
    font-family: HKGrotesk;
    margin-left: 22px;
    border: 0;
    color: #ADA8A7;
}

.postText{
    font-size: 16px;
    color:#ADA8A7;
    font-weight: normal;
    font-family: HKGrotesk;
}

.tglText{
    display: inline-block;
    position: relative;
    top: 10px;
    right: 10px;
}
.tglIcon{
    position: relative;
    top: 13px;
}
.editIconsContainer{
    width: 100%;
    justify-content: space-evenly;
    display: inline-flex;    margin-bottom: 14px;
    box-shadow: 0 2px 2px 0;
}
.title{
    font-weight: 500;
    color:  #FFE9E2E1;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.profileName{
    vertical-align: 25%;
}
h3{
    font-size: 12px;
}

h2{
   font-size: 16px;
   display: inline-block;
}
.avatar{
    border-radius: 25px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 8px;
}

.postTypeContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: right;
    padding-right: 24px;
    display: inline-block;
    background-color: #212020;  
    box-shadow: 0 -1px 3px 0;

}

.changeTopic{
    display: inline-block;
    float: right;
    width: 85px;
    text-align: right;
}

.switch {
    position: relative;
    display: inline-block;
    width: 68px;
    margin-top: 6px;
    height: 34px;
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.575);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(33px);
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #F13B40;
}

input:focus + .slider {
    box-shadow: 0 0 1px #F13B40;
}

.txtTgl{
    z-index: 5;
    position: absolute;
    right: 7px;
    color: gray;
    top: 6px
}

.txtTglY{
    z-index: 5;
    position: absolute;
    right: 35px;
    color: white;
    top: 6px
}
/* 
:host /deep/ .ql-toolbar.ql-snow {
    display: none;
} */

:host /deep/.ql-formats{
    width: 13%;
    margin: 0;
}

:host /deep/.ql-toolbar.ql-snow .ql-formats {
    margin-right: 5px;
}

:host /deep/ .ql-toolbar.ql-snow{
    border: 0;
    border-radius: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.726);
}

:host /deep/.ql-toolbar.ql-snow + .ql-container.ql-snow{
    border: 0;
}

:host /deep/ .ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter{
    color:white !important;
    stroke:white !important;
}

/* :host /deep/ .ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected{
    color:white !important;
    stroke:white !important;
}


 */

:host /deep/.ql-snow.ql-toolbar button.ql-active .ql-stroke{
    color:#FFFBF7 !important;
    stroke:#FFFBF7 !important;
}

:host /deep/.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke{
    color:#FFFBF7 !important;
    stroke:#FFFBF7 !important;
}

:host /deep/ .ql-snow.ql-toolbar button.ql-active .ql-fill{
    fill:#FFFBF7 !important;
}

:host /deep/ .ql-snow .ql-stroke{
    stroke: #8E8988;
}

:host /deep/ .ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill{
    fill: #8E8988;
}

:host /deep/ .ql-snow .ql-picker-options{
    background-color: #212020;
}

:host /deep/ .ql-editor{
    color: #ADA8A7
}