<div class="menuContainer">
    <img class="avatar" (click)="goToMyProfile()" src="./assets/img/avatar1.jpg" alt="profileImage" width="30" height="30">
    <h1 class="title">Início</h1>
    <cooltz-icons [name]="'bell'" [width]="'25'" [color]="'white'" class="menuIcons"></cooltz-icons>
    <cooltz-icons (click)="search()" [name]="'search'" [width]="'25'" [color]="'white'" class="menuIcons">
    </cooltz-icons>
</div>
<mat-tab-group animationDuration="30ms" mat-stretch-tabs>
    <mat-tab label="Música">
        <div class="block1 feed" >
           <div #feed class="feedContainer">
                <div *ngFor="let card of cards;"  (swiperight)="swipe('right feed')" (swipeleft)="swipe('left')" [style.touch-action]="'pan-y'" class="card">
                        <app-card [avatarUrl]="card"></app-card>
                </div>
            </div>
        </div>
        <div class="block1">
            <h4 class="favTitle">FAVORITOS DOS MEU AMIGOS</h4>
        </div>
        <div class="block1">
            <div class="friendsFavorites">
                <div *ngFor="let friendsFav of friendsFavs" [style.background-image]="getBackground(url)"
                    class="favItem">
                    <img class="avatar fav" src="./assets/img/avatar3.jpg" alt="profileImage" width="30" height="30">
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Cinema">
        <div class="feedContainer">
            <div *ngFor="let card of cards" class="card">
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Leitura">
        <h1>Content 3</h1>
    </mat-tab>
</mat-tab-group>
<div class="btnPost">
    <cooltz-icons (click)="showOverlay();searchToPost(false, 'topic')"
        style="display: table-cell; vertical-align: middle;" [name]="'pen'" [color]="'white'" [width]="'30'">
    </cooltz-icons>
</div>
<div *ngIf="overlay" (click)="showOverlay()" class="overlay">
    <div class="ovlBoxContainer">
        <h1>NOVA PUBLICAÇÃO</h1>
        <br>
        <h2 class="newPostDesc">O que estou ouvindo agora?</h2>
        <div class="iconOvlContainer">
            <cooltz-icons (click)="searchToPost(true, 'listen')" class="headphoneIco" [name]="'headphone'"
                [color]="'white'" [width]="'35'"></cooltz-icons>
        </div>
        <h2 class="newPostDescB">Sobre o que você quer falar?</h2>

    </div>
</div>