<div style="margin: 10px 24px 10px 24px">
    <img class="avatar" src="./assets/img/profileDft.jpg" alt="profileImage" width="30" height="30">
</div>
<mat-tab-group>
    <mat-tab label="Música">
        <div class="block1">
            <div class="feedContainer">
                    <div class="card">
                    </div>
                    <div class="card">
                    </div>  
                    <div class="card">
                    </div>
                    <div class="card">
                    </div>
            </div>
        </div>
        <div class="block1">
            <h4 class="favTitle">FAVORITOS DOS MEU AMIGOS</h4>
        </div>
        <div class="block1">
            <div class="friendsFavorites">
                <div class="favItem">
                    <img class="avatar" src="./assets/img/profileDft.jpg" alt="profileImage" width="30" height="30">
                </div>
                <div class="favItem">
                    <img class="avatar" src="./assets/img/profileDft.jpg" alt="profileImage" width="30" height="30">
                </div>
                <div class="favItem">
                    s
                </div>
                <div class="favItem">
                    s
                </div>
            </div> 
        </div>
    </mat-tab>
    <mat-tab label="Cinema">
        <div class="feedContainer">
            <div class="card">
            </div>
            <div class="card">
            </div>
            <div class="card">
            </div>
            <div class="card">
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Leitura">
        <h1>Content 3</h1>
    </mat-tab>
</mat-tab-group>
<div class="btnPost" >
    <cooltz-icons style="display: table-cell; vertical-align: middle;" [name]="'pen'" [color]="'white'" [width]="'30'"></cooltz-icons>
</div>