
.contentOverflow{
    position: absolute;
    top: 0;
    bottom: 72px;
    left: 0;
    right: 0;
    overflow: scroll;
    margin-bottom: 0;
}

h1{
    width: fit-content;
    font-size: 24px;
    margin: 20px 0 20px 0;
}
h2{
    width: fit-content;
    color: #BDB6B6;
    font-size: 16px;
}
h3{
    font-size: 14px;
    margin: auto;
    color: #FFFBF7;
}

.searchIcon{
    position: absolute;
    right: 4%;
    top: 22%;
    color: #FFFBF7;
}

.btnContainer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.btn{
    width: 90%;
    max-width: 320px;
    height: 40px;
    background-color: #F13B40;
    border: 0;
    border-radius: 7px;
    color: white;
    margin-bottom: 15px;
    margin-top: 20px;
    
}

