.mainContainer{
  position: absolute; 
  width: 100%;
   height: 100%;
}
.cardImg{
    width : 100%;    
    min-height: 150px;
    min-width: 28px;
}

.defaultTitle{

  &.post{
    width: 80%;
  }

  &.cmt{
    position: absolute;
    top: 0;
    right: 26px;
  }

  &.time{
    position: absolute;
    top: 20px;
    right: 14px;
  }
}
.menuIcon{
  position: absolute;
  right: -5px;
  top: 20px;
}

.cmtIcon{
  top: 0;
  right: 1px;
  position: absolute;
  
}

.titleBox{
  margin: 16px 0 8px 0;
  position: relative;
}
.menuContainer{
  position: absolute;
  top: 5px;
  right: 4px;
  display: table;
}

.title{
  font-size: 18px;
  color: #E9E2E1;
}

.header{
    position: absolute;
    top: 0;
    background-color: black;
    height: 40px;
    width: 100%;z-index: 1;opacity: 0.3;
    display: flex;
    padding-top: 15px;
}

.descPostCtn{
  margin: 0 24px 50px 24px;
}
.tag{
  background-color: #BDB6B6;
  color: #161514;
  width: fit-content;
  font-size: 10px;
  display: inline-block;
  border-radius: 4px;
  padding: 4px;
  margin-top: 15px;
  margin-right: 5px;

  &.topic{

  }

}



h3{
  margin: 0;
  position: absolute;
  right: 8px;
  top: 5px;
}
cooltz-icons{
  margin-left: 15px;
}

.footer{
  position: fixed;
  bottom: 0;
  background-color: #1F1E1D;
  height: 50px;
  width: 100%;
}
textarea{
  width: 100%;
  height: 31px;
  background-color: transparent;
  color: #BDB6B6;
  padding-top: 15px;
  padding-right: 113px;
  padding-left: 15px;
  width: 100%;
  font-family: HKGrotesk;
  border-radius: 10px;
  width: calc(100% - 131px);
}
.tags{
  margin-bottom: 20px;
}
.commnets{
  padding-top: 5px;
    margin-bottom: 25px;
    border-top: solid 1px #555251;
    position: relative;
}

.btn{
  width: 100px;
  height: 32px;
  background-color: #F13B40;
  border: 0;
  border-radius: 7px;
  color: white;
  position: absolute;
  right: 9px;
  bottom: 9px;
}

.commentContainer{
  position: absolute;
  width: 100%;
  height: 100%;
}
