<div class="mainContainer">
  <div class="header">
    <cooltz-icons (click)="back()" [name]="'leftArrow'" [width]="'25'" [color]="'white'"></cooltz-icons>
    <h1 class="title">Postagem</h1> 
  </div>
  <img src="./assets/img/a_star.jpg" alt="" class="cardImg"> 

  <div id="descPostCtn" class="descPostCtn" >
    
    <div style="position: relative" >
      <list-contact [showBtn]="false" [contacts]="contacts"></list-contact>

      <h3 class="tag time">3m</h3>
      <cooltz-icons  [name]="'menu'" [width]="22" [color]="'white'" class="menuIcon"></cooltz-icons>
    </div>

    <div class="titleBox">
        <h1 class="defaultTitle post">Será que artista tem que se posicionar?</h1>
        <h1 class="defaultTitle cmt">3</h1>
        <cooltz-icons  [name]="'comment'" [width]="22" [color]="'white'" class="cmtIcon"></cooltz-icons>
    </div>
    <h2 class="defaultTxt">Nesses tempos de confusão politica em que vivemos, vale lembrar que na época da ditadura, muitos artistas se arriscaram pra deixar clara sua posição, um deles era o Chico Buarque. Vivamus at interdum elit. Donec fringilla metus ac consectetur laoreet. Aliquam magna nibh, congue sit amet blandit sed, commodo a enim. Vivamus faucibus nisl ut rhoncus malesuada. 
        Morbi vel convallis augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent vitae elit ut ligula gravida vehicula. torquent per conubia nostra, per inceptos himenaeos.</h2>
    <div class="tags">
        <h2 class="tag">CHICO BUARQUE</h2>
    </div>
    <div class="commnets" *ngFor="let comment of comments" >
        <list-contact [showBtn]="false" [avatarUrl]="avatarUrl" [contacts]="contacts"></list-contact>
        <h2 class="defaultTxt">{{comment.txt}}</h2>

        <h1 class="defaultTitle time">3h</h1>
        <cooltz-icons  [name]="'menu'" [width]="22" [color]="'white'" class="menuIcon"></cooltz-icons>
    </div>
  </div>
  <div class="footer">
    <div class="commentContainer">
          <textarea [(ngModel)]="comment" cols="30" rows="10" placeholder="Escreva seu comentário"></textarea>
        <button (click)="addComment()" class="btn">Comentar</button>
    </div>
  </div>
</div>
