.card{
    width: 100%;    
    min-height: 150px;
    min-width: 280px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

}
.main{
    height: 100%;
     width: 100%;
     background-color: #292727; 
     position: relative;    
     border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.151) 2px 3px 5px;
}

.tag{
    background-color: #BDB6B6;
    color: #161514;
    width: fit-content;
    font-size: 10px;
    display: inline-block;
    border-radius: 4px;
    padding: 4px;
    margin-top: 15px;

}
.previewContainer{
    padding: 0 15px;
    bottom: 15px; 
    position: absolute;
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 0),
                                 rgba(41, 39, 39, 0.589)10%,
                                 rgba(41, 39, 39, 0.89)20%,
                                  rgb(41, 39, 39) 30%);

}
.commentIcon{
    float: right; 
    margin-top: 18px;
    margin-left: 5px;
}
h1{
    font-weight: bold;
    font-size: 16px;
    color: #FFFBF7;
    margin-top: 15px;
}

h2{
    font-size: 16px;
    color: #BDB6B6;
    margin-top: 15px;

}
h4{
    font-size: 16px;
    width: fit-content;
    display: inline-block;
    float: right;
    margin-top: 15px;
}