.card{
    width: 100%;    
    min-height: 150px;
    min-width: 280px;
}

.tag{
    background-color: #BDB6B6;
    color: #161514;
    width: fit-content;
    font-size: 10px;
    display: inline-block;
    border-radius: 4px;
    padding: 4px;
}
h4{
    font-size: 16px;
    width: fit-content;
    display: inline-block;
    float: right;
}