<div style="height: 100%; width: 100%;background-color: #292727; position: relative;">
    <img src="./../../../../assets/img/card.jpg" alt="" class="card">
    <div style="margin: 0 15px 0 15px">
        <list-contact [contacts]="contacts" [showBtn]="false"></list-contact>
    </div>


    <div style="   margin: 0 15px;
    width: 90%;
    bottom: 15px; position: absolute">
        <h3 class="tag" >CHICO BUARQUE</h3>
        <cooltz-icons style="float: right"  [name]="'comment'" [width]="15" [color]="'white'"></cooltz-icons>
        <h4 >3</h4>
    </div>
    
</div>