<div class="main">
    <img src="./assets/img/a_star.jpg" alt="" class="cardImg">

    <div class="menuContainer">
        <h3 class="tag" >3m</h3>
        <cooltz-icons  [name]="'menu'" [width]="22" [color]="'white'" class="menuIcon"></cooltz-icons>
    </div>

    <div class="previewContainer">
        <list-contact [avatarUrl]="'./assets/img/avatar2.jpg'" [contacts]="contacts" [showBtn]="false"></list-contact>
        <h1>Será que artista tem que se posicionar?</h1>
        <h2>Nesses tempos , da… ditadura,Mais</h2>
        <h3 class="tag" >CHICO BUARQUE</h3>
        <cooltz-icons class="commentIcon" [name]="'comment'" [width]="18" [color]="'white'"></cooltz-icons>
        <h4 >3</h4>
    </div>
    
</div>