<div class="containerLogin">
  <div class="loginBox">
    <div class="inner">
<!--       <img class="logo" src="./assets/img/cooltz-logo.png" alt="logo">
 -->
      <!-- LOGIN -->
      <h2 *ngIf="inputView" class="descLbl desc">Digite seu e-mail </h2>
      <div class="iptContainer">
          <input *ngIf="inputView" [ngClass]="{'invalidIpt': x ==2}" type="email"  >
          <i *ngIf="x == 2" class='uil uil-exclamation-triangle alertIcon'  style="color: #EC7D10;" ></i>
      </div>  

      <h2 *ngIf="inputView == 1" class="descLbl desc">Senha</h2>
      <input *ngIf="inputView == 1" type="password">

      <h3 *ngIf="inputView == 1"class="forgotCls">Esqueci minha senha</h3>
      <mat-checkbox *ngIf="inputView == 1" >
        <h3 class="keepTxt" >Manter-me conectado</h3>
      </mat-checkbox>
                  

      <button *ngIf="inputView != 2" (click)="showInput()" class="btn"><h1>Entrar</h1></button>

      <!-- NEWACCOUNT -->
      <h2 *ngIf="inputView == 2 && emailErrorMsg"  class="descLbl desc msg"  >{{emailErrorMsg}}</h2>
      <button *ngIf="inputView == 2 || inputView == 0" class="btn" (click)="validateEmail()"><h1>Criar nova conta</h1></button>
    </div>
  </div>
</div>