<div class="containerLogin" >
  <div class="loginBox">
    <div class="inner">
        <img class="logo" src="./assets/img/cooltz-logo.png" alt="logo" >

        <!-- LOGIN -->
        <h2 *ngIf="inputView" class="descLbl desc">Digite seu e-mail</h2>
        <input *ngIf="inputView"  type="email"> 
        <h2 *ngIf="inputView" class="descLbl desc">Senha</h2>
        <input *ngIf="inputView"  type="password"> 

        <button *ngIf="inputView != 2" (click)="showInput()" class="btn">Entrar</button>
        
        <!-- NEWACCOUNT -->
        <h2 *ngIf="inputView == 2" class="descLbl desc">{{emailErrorMsg}}</h2>
        <button *ngIf="inputView == 2 || inputView == 0" class="btn" (click)="validateEmail()">Criar nova conta</button>
    </div>
  </div>
</div>
