.respType{
    font-size: 12px;
    color: #FFFBF7;
    margin-bottom: 14px;
    .seeAll{
        margin-top: 10px;
    }
}
.resultBox{
    margin-bottom: 10px;
}
.avatar{
    border-radius: 25px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 8px;
}
.itemContainer{
    margin-bottom: 5px;
}
.itemName{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFBF7;
    display: inline-block;
    vertical-align: super;
}
.itemDesc{
    font-size: 14px;
    color: #BDB6B6;
    margin-top: -9px;
}
.namesContainer{
   display: inline-block;
   vertical-align: middle;

   &.noDesc{
    vertical-align: sub;
    margin-bottom: 14px;
   }
}
