<div style="position: relative">
    <back-header [title]="'profile name'" [shadow]="true"></back-header>
    <cooltz-icons [name]="'bell'" [width]="'25'" [color]="'white'" class="icoNtf"></cooltz-icons>
    <cooltz-icons  [name]="'search'" [width]="'25'" [color]="'white'" class="icoSearch"></cooltz-icons>
</div>
<div style="margin: 24px">
    <img src="./assets/img/avatar0.jpg" alt="" width="110" height="110" style="border-radius: 50%;box-shadow: black 0 1px 3px; float: left;">
    <div>
        <h1 class="title">Nome do adso nod adsdsads</h1>
        <h2 class="nick">@nick</h2>
        <h3 class="desc">descricao completa do perfiles..</h3>
    </div>
</div>
<div>
    <button class="addBtn">
        <h2 class="addBtnTxt" >Adicionar</h2>
    </button>
</div>
