<div style="position: relative">
    <back-header [title]="'profile name'" [shadow]="true"></back-header>
    <cooltz-icons [name]="'bell'" [width]="'25'" [color]="'white'" class="icoNtf"></cooltz-icons>
    <cooltz-icons  [name]="'search'" [width]="'25'" [color]="'white'" class="icoSearch"></cooltz-icons>
</div>
<div class="profileBox">
    <img src="./assets/img/avatar0.jpg" alt="" width="110" height="110" class="profileImg" >
    <div class="txtBox" >
        <h1 class="title">Christopher George Latore Wallace</h1>
        <h2 class="nick">@The_Notorious_B.I.G</h2>
        <h3 class="desc">Essa é uma descrição de duas linhas completa duas linhas completa.</h3>
    </div>
    <cooltz-icons [name]="'menu'" [width]="'30'" [color]="'white'" class="menuIco"></cooltz-icons>
</div>
<button class="addBtn">
    <h2 class="addBtnTxt" >Adicionar</h2>
</button>

<mat-tab-group>
    <mat-tab label="Música">
      <div style="margin: 24px">
      <h2 class="favTitile">Favoritos</h2>
        <div class="block1">
            <div class="friendsFavorites">
                <div *ngFor="let friendsFav of friendsFavs" [style.background-image]="getBackground(url)"
                    class="favItem">
                </div>
            </div>
        </div>
      </div>
      <div class="locked">
          <h3 class="lockedDesc"> <cooltz-icons [name]="'lock'"[width]="'40'" [color]="'#BDB6B6'" class="icoLock"></cooltz-icons>
            Você só pode ver as postagens de seus amigos.
          </h3>
      </div>
    </mat-tab>
    <mat-tab label="Cinema"></mat-tab>
    <mat-tab label="Literatura"></mat-tab>

</mat-tab-group>
