//progressbar personalize
:host /deep/ .mat-progress-bar-fill::after {
    background-color: #F13B40;
}
:host /deep/ .mat-progress-bar-background {
    animation: none;
    background-color: black;
    fill: black;
}
:host /deep/  .mat-progress-bar-buffer  {
    background-color: #8E8988!important;
}

.msg{
    color: #FFE9E2E1;
}

h1{
    font-size: 24px;
    margin: 20px 0 20px 0;
}

h3{
    color: rgba(203,197,196,1);
    font-size: 16px;
    margin: 5px 0 5px 0;
}
h2{
    color: #D3CCCC;
    font-size: 16px;
    width: 100%;
}
.btn{
    width: 320px;
    height: 40px;
    background-color: #F13B40;
    border: 0;
    border-radius: 6px;
    margin-top: 10px;
    /* color: wheat; */
    color: white;
}
.contains{
    color:#3FA632;
}
.termContainer{
    display: inline-flex;
    margin: 17px 0 16px 0;
}

.eye{
    position: absolute;
    right: 3%;
    top: 7px;
}
.disabled{
    background-color: #373534;
    pointer-events: none;
}

.termText{
    margin: 0 0 0 10px;
}

.iptUser{
    padding-left: 22px;
    font-size: 16px;
}


.fixedValue{
    position: absolute;
    left: 2%;
    top: 19%;  
    color: #E9E2E1;
    font-family: HKGrotesk;
}

 :host /deep/ .mat-checkbox .mat-checkbox-frame {
    border-color: rgba(142,137,136,1);
    border-radius: 5px;
  }
 :host /deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: transparent !important;
  }
  
:host /deep/ .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: transparent !important;
 }