<div class="defaultContainer">
    <mat-progress-bar class="example-margin" [mode]="'determinate'" [value]="value" [bufferValue]="75">
    </mat-progress-bar>

    <section *ngIf="step == 1" >
        <h1>NOVA CONTA</h1>
        <h3>Nome</h3>
        <input type="text">
        <h3>Sobrenome</h3>
        <input type="text">
        <h3>Nome de usuário</h3>
        <div style="position: relative;">
            <input type="text" class="iptUser">
            <span class="fixedValue">@</span>
        </div>
        <h2 class="descLbl desc msg">{{emailErrorMsg}}</h2>

    </section>

    <br>
    <!-- SENHA -->
    <section *ngIf="step == 2" >
        <h3>Senha</h3>
        <div style="position: relative;">
            <input type="{{iptType}}" (keyup)="checkPass($event)" [(ngModel)]="password" >
            <cooltz-icons (click)="togglePassword()" [name]="'eye'" [width]="23" [color]="'white'" class="eye"></cooltz-icons>
        </div>
        
        <h3><cooltz-icons class="passIcons" [name]="passwordVldt.upper? 'checked':'unchecked'" [width]="'18'"></cooltz-icons>Letra maiúscula</h3>
        <h3><cooltz-icons class="passIcons" [name]="passwordVldt.lower? 'checked':'unchecked'" [width]="'18'"></cooltz-icons>Letra minúscula</h3>
        <h3><cooltz-icons class="passIcons" [name]="passwordVldt.number? 'checked':'unchecked'" [width]="'18'"></cooltz-icons>Número</h3>
        <h3><cooltz-icons class="passIcons" [name]="passwordVldt.size? 'checked':'unchecked'" [width]="'18'"></cooltz-icons>6 caracteres</h3>
    </section>

    <!-- TERMOS -->
    <section  *ngIf="step == 3">
        <h3>Termos</h3>
        <div class="terms">
            <h3 class="termsTxt">Lorem ipsum aliquet taciti metus neque praesent gravida quisque quam, cubilia ullamcorper nullam pretium morbi ut justo malesuada urna, sem euismod duis etiam platea volutpat justo proin. potenti aliquam mauris ultricies ullamcorper congue ultricies donec aliquet gravida viverra diam, id taciti ut nulla vel ac lectus primis vehicula magna, inceptos lobortis laoreet consectetur aenean ligula non interdum ante tortor. duis egestas euismod est per lacinia placerat suspendisse ullamcorper aenean, porta duis porttitor lacinia convallis donec aenean pellentesque amet ullamcorper, dictum lobortis pretium platea elementum senectus potenti elementum. rutrum blandit sollicitudin molestie mauris eros elit cubilia ante ipsum vulputate, leo euismod sit venenatis pretium varius magna aliquam urna ornare, vestibulum curabitur viverra quisque quis mauris elementum libero nunc. 
                    Turpis scelerisque vehicula integer egestas feugiat curae laoreet rutrum hac, eros id hendrerit egestas cursus pharetra litora donec quisque porta, molestie proin platea mattis vivamus lectus ornare vel. turpis varius laoreet ante lobortis phasellus tellus quisque per quam nisl vestibulum, diam fermentum senectus placerat taciti sapien sagittis hac fames lectus. rutrum malesuada elit suscipit aptent bibendum platea, lectus libero eget posuere egestas, porttitor vel ornare convallis fusce. hac lorem nibh vestibulum interdum venenatis in quam primis, commodo ullamcorper et fames semper proin pharetra tellus, aenean curabitur neque sit himenaeos porta purus. 
            </h3>
        </div>
    </section>

    <div *ngIf="step == 3" class="termContainer">
            <mat-checkbox [(ngModel)]="termChecked"></mat-checkbox>
            <h3 (click)="termChecked = !termChecked" class="termText" >Eu li e aceito os termos de uso.</h3>            
    </div>

    <section *ngIf="step == 4">
        <h1>SUA CONTA FOI CRIADA!</h1>
        <h3>Que tal adicionar alguns contatos?</h3>
    </section>
    
    <button *ngIf="step != 4" class="btn" [ngClass]="{'disabled': step == 3 && !termChecked  }" >
        <h2 class="textButtons" (click)="nextStep()">Próximo</h2>
    </button>   
    <button *ngIf="step == 4" class="btn">
        <h2 class="textButtons" (click)="goToAddContacts()">Adicionar amigos</h2>
    </button>
    <button *ngIf="step == 4" class="btn">
        <h2 class="textButtons" (click)="goToHome()">Entrar na COOLTZ</h2>
    </button>

</div>