
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: HKGrotesk;
    src: url('./assets/fonts/HKGrotesk-Regular.otf') format("opentype");
}

html{
    touch-action: manipulation;
}
html,body{
    height: 100%;
    margin: 0;
    width: 100%;
}

body{
      background-color: #212020 !important;
      display: contents;
}


input{
    box-sizing: border-box;
    height: 38px;
    width: 314px;
    border: 2px solid #8E8988;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.5);
    background-color: transparent;
    margin-bottom: 5px;
    color: #E9E2E1;
    padding-left: 5px;
}
.invalidIpt{
    border: 2px solid #EC7D10;
}
.descLbl{
    height: 19px;
    width: 49.3px;
    color: #BDB6B6;
    font-family: HKGrotesk;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

h1,h2,h3,h4, label{
    color: #D3CCCC;
    font-family: HKGrotesk;
    margin: 0;
}
.defaultTitle{
   color: #FFFFFBF7;
   font-size: 16px;
   font-weight: bold;
}
.defaultTxt{
    color: #BDB6B6;
    font-size: 16px;
}

.defaultContainer{
    margin: 24px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.addBtn{
    display: inline-flex;
	height: 38px;
	width: 100px;
	border-radius: 5px;
	background-color: rgba(241,59,64,1);
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.5), 0 2px 4px 0 rgba(0,0,0,0.5);
    float: right;
    
    &.added{
        background-color: white;
    }
}

.addBtnTxt{
    margin: auto;
    margin-top: 8px;
    color: rgba(255,251,247,1);
    font-size: 16px;

    &.added{
    	color: rgba(241,59,64,1);
    }
}


@media screen and (max-width: 320px) { 
    .defaultContainer{
        margin: 24px;
        max-width: 310px;
        margin-left: auto;
        margin-right: auto;
    }
  }





    

